<section class="first-part">
  <div class="right-part">
    <div>
      <h4>نبذة عني </h4>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum tempore obcaecati eos doloremque, minus
        consequuntur
        eaque. Praesentium voluptates numquam labore, ipsa quisquam ratione reprehenderit non veritatis deserunt. Error,
        iste! Distinctio?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, quod culpa? Vel, repellat illo nemo
        distinctio
        tempore animi, incidunt vero minima doloremque error sunt natus. Perferendis quae voluptatem eaque natus.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, quod culpa? Vel, repellat illo nemo
        distinctio
        tempore animi, incidunt vero minima doloremque error sunt natus. Perferendis quae voluptatem eaque natus.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, quod culpa? Vel, repellat illo nemo
        distinctio
        tempore animi, incidunt vero minima doloremque error sunt natus. Perferendis quae voluptatem eaque natus.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, quod culpa? Vel, repellat illo nemo
        distinctio
        tempore animi, incidunt vero minima doloremque error sunt natus. Perferendis quae voluptatem eaque natus.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, quod culpa? Vel, repellat illo nemo
        distinctio
        tempore animi, incidunt vero minima doloremque error sunt natus. Perferendis quae voluptatem eaque natus.
      </div>
    </div>

    <div class="skills">
      <h4>مهاراتي </h4>
      <div class="skill-container">
        <div class="skill-btn"> كمبيوتر</div>
        <div class="skill-btn"> كمبيوتر</div>
        <div class="skill-btn"> كمبيوتر</div>
        <div class="skill-btn"> كمبيوتر</div>
      </div>
    </div>
  </div>

  <div class="left-part">
    <h4> احصائيات </h4>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum tempore obcaecati eos doloremque, minus
      consequuntur
      eaque. Praesentium voluptates numquam labore, ipsa quisquam ratione reprehenderit non veritatis deserunt. Error,
      iste! Distinctio?
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, quod culpa? Vel, repellat illo nemo
      distinctio
      tempore animi, incidunt vero minima doloremque error sunt natus. Perferendis quae voluptatem eaque natus.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, quod culpa? Vel, repellat illo nemo
      distinctio
      tempore animi, incidunt vero minima doloremque error sunt natus. Perferendis quae voluptatem eaque natus.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, quod culpa? Vel, repellat illo nemo
      distinctio
      tempore animi, incidunt vero minima doloremque error sunt natus. Perferendis quae voluptatem eaque natus.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, quod culpa? Vel, repellat illo nemo
      distinctio
      tempore animi, incidunt vero minima doloremque error sunt natus. Perferendis quae voluptatem eaque natus.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, quod culpa? Vel, repellat illo nemo
      distinctio
      tempore animi, incidunt vero minima doloremque error sunt natus. Perferendis quae voluptatem eaque natus.
    </div>
  </div>

</section>
