
.bgc{
  background-color:var(--bgAfterHover);
  color: var(--fontcolor);
}
.skill-container{
  display: flex;
  padding: 20px 5px;
  gap: 5px;
  border: 1px solid #ced4da;
  margin-top: 5px;
}

.skill-btn{
  text-align: center;
height: 40px;
padding: 10px 10px;
background-color: var(--bgAfterHover);
color:var(--fontColorAfterHover);
margin: 3px;
}

label{
  color: black;
}
