<div class="check-boxs container p-2 ">
  <h6 class="p-1 fw-bold "> أختار التخصص اللذي تبحث عنه </h6>
  <hr>
  <div class="p-1">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" value="">
      أعمال وخدمات استشارية

    </label>
  </div>

  <div class="p-1">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" value="">
      برمجة، تطوير المواقع والتطبيقات

    </label>
  </div>
  <div class="p-1">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" value="">
      هندسة، عمارة وتصميم داخلي

    </label>
  </div>
  <div class="p-1">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" value="">
      تصميم، فيديو وصوتيات

    </label>
  </div>
  <div class="p-1">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" value="">

      تسويق الكتروني ومبيعات

    </label>
  </div>
  <div class="p-1">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" value="">
      كتابة، تحرير، ترجمة ولغات
    </label>
  </div>
  <div class="p-1">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" value="">
      دعم، مساعدة وإدخال بيانات

    </label>
  </div>
  <div class="p-1">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" value="">
      تدريب وتعليم عن بعد
    </label>
  </div>
  <div class="container p-2 ">
    <h5> الميزانيه </h5>
    <div>
      <label class="form-check-label">
        <input class="form-check-input" type="radio" value="">
        $0-$100
      </label>
    </div>
    <div>
      <label class="form-check-label">
        <input class="form-check-input" type="radio" value="">
        $100-$500

      </label>
    </div>
    <div>
      <label class="form-check-label">
        <input class="form-check-input" type="radio" value="">
        $500-$1000
      </label>
    </div>
    <div>
      <label class="form-check-label">
        <input class="form-check-input" type="radio" value="">
        $1000-$2000

      </label>
    </div>
  </div>
</div>
