
li{
  list-style-type: none;
  padding: 5px 0px;
}
.row{
  margin-bottom: 5px;
}

.profile-info>div >*{
  font-size: 16px !important;
  color: gray !important;
}

.profile-pic{
  height: 70px;
  width: 70px;
  overflow: hidden;
}


.profile-pic>a>img{
  background-color: transparent;
  text-align: center;
  display: block;
  }

.hide{
  display: block;
}
  @media only screen and (max-width:1024px) {
    .hide{
      display: none !important;
    }   
  }