<section class="d-flex align-items-center justify-content-center text-center gap-5 sider-section" style="background-position:center; height:670px; background-image: url('../../../assets/header-bg-0.jpg');">
    <div>
      <h2> انجز مشاريعك بسهوله واحترافيه معنا</h2>
      <h5>وظّف مستقلين محترفين لإنجاز أعمالك </h5>
      <button> 
        <a  class="btn btn-outline-light p-2" routerLink="/addproject"> اضف مشروعك </a>
      </button>
  </div>
</section>




<section class="page-two-section">
  <h1> كيف يعمل موقعنا؟ </h1>
  <div *ngFor="let info of mostaqelinfo" >
    <h2> {{info.title}} </h2>
    <p> {{info.desc}} </p>
  </div>
</section>


<section class="text-center">
  <h1 class="text-black my-5" >اقسام الموقع </h1>





    <div class=" boxs  container d-flex justify-content-center flex-wrap gap-3">
      <ng-container *ngFor="let box of boxsInfo">
        <div class="d-flex flex-column align-items-center justify-content-center gap-3"style="width:300px; height: 200px;         background-color: var(--fontColor); " >
          <img style="height: 80px; height: 80px; " [src]="box.img" alt="">
          <p>
            <a [routerLink]="['/projects',{filterBy:box.filterName}]" queryparamsHandling="merge">{{box.desc}}</a>
          </p>
        </div>
      </ng-container>
    
    </div>


</section>
