<section class="fsection">
  <div>
    <h2> انجز مشاريعك بسهوله واحترافيه معنا</h2>
    <h5>وظّف مستقلين محترفين لإنجاز أعمالك </h5>
    <button> <a id="addBtn" routerLink="/addproject"> اضف مشروعك </a></button>
  </div>
</section>



<section class="Ssection">
  <h1> كيف يعمل موقعنا؟ </h1>
  <div>
    <h2> أضف المشروع</h2>
    <p> أضف تفاصيل مشروعك والمهارات المطلوبة لإنجازه وابدأ باستقبال عروض المستقلين عليه.</p>
  </div>

  <div>
    <h2> اختر العرض المناسب</h2>
    <p> من بين العروض المقدمة لمشروعك، اختر العرض المناسب لمتطلبات المشروع ثم ابدأ مباشرة مرحلة التنفيذ. </p>
  </div>

  <div>
    <h2>استلم المشروع </h2>
    <p> سيعمل المستقل الذي اخترته معك حتى انتهاء العمل وتسليم مشروعك بشكل كامل كما أردته. </p>
  </div>
</section>






<section class="thsection">
  <h1>اقسام الموقع </h1>

  <div class="container boxs">

    <div>
      <img src="../../../../assets/avatar/document.svg" alt="">
      <p><a routerLink="/projects">أعمال وخدمات استشارية وإدارية</a></p>
    </div>

    <div>
      <img src="../../../assets/avatar/code.svg" alt="">
      <p><a routerLink="/projects">برمجة، تطوير وبناء المواقع والتطبيقا</a></p>
  </div>

    <div>
      <img src="../../../assets/avatar/arch.svg " alt="">
      <p><a routerLink="/projects">هندسة، عمارة وتصميم داخلي</a></p>
    </div>

    <div>
      <img src="../../../assets/avatar/video.svg " alt="">
      <p><a routerLink="/projects">تصميم، فيديو وصوتيات
        </a></p>
    </div>

    <div>
      <img src="../../../assets/avatar/pepole.svg " alt="">
      <p><a routerLink="/projects">تسويق إلكتروني ومبيعات</a></p>
    </div>

    <div>
      <img src="../../../assets/avatar/document.svg" alt="">
      <p><a routerLink="/projects">كتابة، تحرير، ترجمة ولغات
        </a></p>
    </div>

    <div>
      <img src="../../../assets/avatar/call-center.svg " alt="">
      <p><a routerLink="/projects">دعم، مساعدة وإدخال بيانات</a></p>
    </div>

    <div>
      <img src="../../../assets/avatar/line-graph.svg " alt="">
      <p><a routerLink="/projects">تدريب، تعليم ومساعدة عن بعد
        </a></p>
    </div>
  </div>
</section>