*{
  color: var(--fontColor);
}
.sider-section>div>*{
margin-top: 20px;
}

.sider-section > div > button{
  background-color: transparent;
  border: none;
  }

.page-two-section{
height: 550px;
background-color: var(--bgAfterHover);
}
.page-two-section>*{
  text-align: center;
}
.page-two-section>h1{
  padding: 40px;
}
.page-two-section>div>*{
margin: 30px;

}



.boxs > * > p > a {
  color:var(--secondColor) !important;
}






