  <section class="container">
    <app-headline>عروضي </app-headline>
    <div class='row'>
  <aside class=' col-3 hide' >
    <h6 class="py-1 px-2 ">  الحالة  </h6>
    <hr>
      <div class="d-flex gap-2 mb-2">
        <label class="form-check-label">
        <input class="form-check-input" (change)="projectStatus($event)" name='radio' type="radio" value="waitingAccepted">
          بانتظار الموافقه
        </label>
      </div>
      <div class="d-flex gap-2 mb-2">
        <label class="form-check-label">
        <input class="form-check-input" (change)="projectStatus($event)" name='radio' type="radio" value="panding">
                  قيد التنفيذ
        </label>
      </div>
      <div class="d-flex gap-2 mb-2">
      <label class="form-check-label">
        <input class="form-check-input" (change)="projectStatus($event)" name='radio' type="radio" value="completed">
          المكتمله

      </label>
      </div>
      <div class="d-flex gap-2 mb-2">
      <label class="form-check-label">
        <input class="form-check-input" (change)="projectStatus($event)" name='radio' type="radio" value="rejected">
          المستبعده
      </label>
      </div>
      <div class="d-flex gap-2 mb-2">
        <label class="form-check-label">
          <input class="form-check-in" (change)="projectStatus($event)" name='radio' type="radio" value="closed"> 
            مغلقه
        </label>
      </div>
  </aside>
<section style="height: fit-content;" class='col-lg-9 col-12  bg-white'>

  <app-offertemplate
  *ngFor="let status of [1,2,3,4,5]" 
  [hrefLink]="'/addporposel'" 
   [haveBtn]="false" 
   [offerStatus] = "status" > 
     <ng-container iconName>add</ng-container>
    <ng-container href> إضف عرضك</ng-container> 
  </app-offertemplate>
</section>

<div class="d-flex my-4 justify-content-center  ">
  <button class=" border rounded-end   p-1" > التالي  </button>
   <button class="border p-2" *ngFor="let item of [1,2,3,4,5]" > {{item}} </button>  
  <button class=" border rounded-start p-1" > السابق</button>  
</div>

    </div>

  </section>