<footer class=" bg-white w-100 d-flex flex-md-row flex-column gap-md-2 gap-5 align-content-center p-5" >
<ul class="col-lg-3 col-md-6 col-12 d-flex flex-column gap-2" >
    <li><strong>مستقل</strong></li>
    <li> <a routerLink=""> عن مستقل </a></li>
    <li> <a routerLink=""> الاسئلة الشائعه </a></li>
    <li> <a routerLink=""> ضمان الحقوق </a>
    <li> <a routerLink=""> شروط الأستخدام </a>
    <li> <a routerLink=""> بيان الخصوصية </a>
    </ul>

    <ul class="col-lg-3 col-md-6 col-12 d-flex flex-column gap-2" >
        <li><strong> مشاريع </strong></li>
        <li>
            <a routerLink="">مشاريع برمجة</a>
        </li>
        <li>
            <a routerLink="">مشاريع كتابة وترجمة</a> 
        </li>
        <li>
            <a routerLink="">مشاريع تسويق</a>        
        </li>
        <li> 
            <a routerLink="">مشاريع تصميم</a>
            
        </li>
        <li>
            <a routerLink="">مشاريع هندسه وعمارة</a>
        </li>
        
    </ul>
    <ul class="col-lg-3 col-md-6 col-12 d-flex flex-column gap-2" >
        <li><strong> روابط </strong></li>
        <li>
            <a routerLink="">مستقل المؤسسات </a>
        </li>
        <li>
            <a routerLink="">ابحث عن عمل </a> 
        </li>
        <li>
            <a routerLink=""> معرض الأعمال </a>        
        </li>
        <li> 
            <a routerLink=""> مدونة مستقل</a>
            
        </li>
        <li>
            <a routerLink="">  مركز المساعدة</a>
        </li>
        
    </ul>
    
    
    <ul class="col-lg-3 col-md-6 col-12" >
        <section class="d-flex flex-column gap-2" >
            <strong>تابع مستقل علي </strong>
            <div>
                <img src="" alt="">
                <img src="" alt="">
            </div>
        </section>

        <section class="d-flex flex-column gap-2" > 
            <strong>وسائل الدفع </strong>
            <div>
                <img src="" alt="">
                <img src="" alt="">
            </div>
        </section>
    </ul>
</footer>