.first-part{
  margin-top: 20px;
display: flex;
gap: 10px;
}

.apart{
flex-basis: 49%;
}

.skill-container{
  display: flex;
  gap: 5px;
  height: 200px;
  width: 100%;
  border: 1px solid #ced4da;
  margin-top: 20px;
}

.skill-btn{
  text-align: center;
height: 40px;
width: 100px;
padding: 5px;
background-color: var(--bgAfterHover);
color:var(--fontColorAfterHover);
margin: 3px;

}
