*{
  color: white 
}
.offcanvas  * {
  color: white ;
  direction: ltr;
}
nav{
  transition: height .2s ease-in !important;
}

nav * a {
  transition: color .2s ease-in !important;
}

nav * a:hover{
color: rgb(225, 225, 225);
}

#logo{
font-size: 19px !important;
letter-spacing: 0.5px;
margin-left: 80px;
}

.active {
border-bottom: 1px solid white !important;
} 

.small-devices{
  display: none !important;
  }

@media only screen and (max-width: 1024px) {
  .hide{
  display: none !important;
  }

  .small-devices{
    display: block !important;
  }
.responsive{
  justify-content: space-between !important;
}

  }

.sticky{
  position: sticky;
  overflow: auto;
}













