<nav style=" height:80px" class="d-flex position-absolute w-100 bg-primary z-index-2 overflow-y-hidden" appStickyNavbar>
  <div class="container d-flex align-items-center responsive ">
          <a  [routerLink]="logoNavigation" id="logo" class="btn text-light">  arablancer </a>
        
        <div class="d-flex flex-row align-items-center justify-content-between w-100 hide">  
          <div class="d-flex gap-4 ">
            
                  <div class="d-flex justify-content-center" >
                    <mat-icon>add</mat-icon>
                    <a routerLink="addproject" routerLinkActive="active"> أضف مشروع </a>
                  </div>
            
            <ng-container *ngIf="!(isFreelancer$|async)">
                <div class="d-flex justify-content-center" > 
                  <mat-icon>group</mat-icon>
                  <a routerLink="freelancers" routerLinkActive="active"> ابحث عن مستقلين </a>
                </div>
            </ng-container>
            
            <ng-container *ngIf="(isFreelancer$|async)">
                <div class="d-flex justify-content-center" >
                  <mat-icon>list</mat-icon>
                  <a routerLink="offer" routerLinkActive="active" > عروضي </a>
                </div>
            </ng-container>

            <ng-container *ngIf="(isFreelancer$|async)" >
                <div class="d-flex justify-content-center" >
                  <mat-icon> work_outline </mat-icon>
                    <a routerLink="dashboard/myprojects" routerLinkActive="active"> 
                        {{namingChange$ | async }} 
                    </a>
                </div> 
            </ng-container>
            
            <div class="d-flex justify-content-center" >
              <mat-icon>grading</mat-icon>
                <a routerLink="projects" routerLinkActive="active"> تصفح مشاريع </a>
          </div>
        </div>

        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center gap-2" >
            <ng-container  *ngIf="!(loginIcon$|async)">
              <ng-container [ngTemplateOutlet]="login">  </ng-container>
            </ng-container>
          
            <ng-container *ngIf="(loginIcon$|async)">
                <ng-container [ngTemplateOutlet]="userIcon">  </ng-container>
            </ng-container>
          </div>
        </div>              
      </div> 
    
      <button  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"  class="bg-transparent d-none p-1 mx-2 position-absolute start-0 flex-column border gap-5 rounded small-devices">
     
        <div class="bg-white my-1" style="height: 2px; width: 20px;"  *ngFor="let i of [1,2,3]" ></div>
      </button>

  </div> 
</nav>
   
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header" >
      <a [routerLink]="logoNavigation" class= "offcanvas-title btn py-3 text-black" style="font-size: 1.2rem !important;" > arablancer </a>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body bg-primary text-white ">
  
      <div class="d-flex flex-column gap-3 align-items-start">  
        <div class="d-flex flex-column gap-4 ">
                <div class="d-flex justify-content-start" >
                  <mat-icon>add</mat-icon>
                  <a routerLink="addproject" routerLinkActive="active"> أضف مشروع </a>
                </div>
          
          <ng-container *ngIf="!(isFreelancer$|async)">
              <div class="d-flex justify-content-start" > 
                <mat-icon>group</mat-icon>
                <a routerLink="freelancers" routerLinkActive="active"> ابحث عن مستقلين </a>
              </div>
          </ng-container>
          
          <ng-container *ngIf="(isFreelancer$|async)">
              <div class="d-flex justify-content-start" >
                <mat-icon>list</mat-icon>
                <a routerLink="offer" routerLinkActive="active" > عروضي </a>
              </div>
          </ng-container>

          <ng-container *ngIf="(isFreelancer$|async)" >
              <div class="d-flex justify-content-start" >
                <mat-icon> work_outline </mat-icon>
                  <a  routerLink="dashboard/myprojects" routerLinkActive="active"> 
                      {{namingChange$ | async }} 
                  </a>
              </div> 
          </ng-container>
          
          <div class="d-flex justify-content-start" >
            <mat-icon>grading</mat-icon>
              <a  routerLink="projects" routerLinkActive="active"> تصفح مشاريع </a>
        </div>
      </div>

      <div> 
          <ng-container  *ngIf="!(loginIcon$|async)">
            <ng-container [ngTemplateOutlet]="login"> </ng-container>
          </ng-container>
        
          <ng-container *ngIf="(loginIcon$|async)">
              <ng-container [ngTemplateOutlet]="userIcon">  </ng-container>
          </ng-container>
      </div>              
    </div> 
    

 
  

  </div>
</div>




<ng-template #login>
  <div class=" d-flex align-items-center gap-2">
    <button class="bg-transparent d-flex align-items-center justify-content-center p-2 border auth-button">
      <mat-icon>login</mat-icon>
      <a routerLink="login"> دخول </a>
    </button>
    
    <button class="bg-transparent d-flex align-items-center justify-content-center p-2 border">
      <mat-icon>person_add</mat-icon>
      <a routerLink="register"> حساب جديد </a>
    </button>
  </div>
</ng-template>



<ng-template #userIcon>
  <div class="user-freelance d-flex align-items-center gap-4">
    
    <a class="position-relative">
      <mat-icon (click)="logout()" >logout </mat-icon>
    </a>
    
    
    <a class="position-relative" routerLink="messages" routerLinkActive="active">
      <span class="position-absolute badge rounded-pill top-0 start-100 bg-danger translate-middle ">
        0
    </span>
    <mat-icon> mail </mat-icon>
    
  </a>
  
  <a class="position-relative" routerLink="notifications" routerLinkActive="active">
    <div class="d-flex justify-content-center" >
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        0
      </span>
      <mat-icon> notifications </mat-icon>
    </div>
  </a>
  
<div class="dropdown-center ">
<button aria-expanded="false"  data-bs-toggle="dropdown" class="dropdown-toggle btn mb-3 border-0" >
  <a routerLink="profile" >
    <img style="width: 40px; height: 40px;" class="rounded-circle"  src="../../../assets/man-156584.svg" alt="">
  </a>
</button>
  
  <ul class=" bg-primary dropdown-menu text-center mt-4 border ">
    <li class="p-1"><a routerLink="/profile"> mohamed_ashraf </a> </li>
    <li class="p-1"><a routerLink="/profile-edit"> تعديل الحساب </a> </li>
    <li class="p-1"><a routerLink="offer"> عروضي  </a> </li>
    <li class="p-1"><a routerLink=""> رصيدي </a> </li>
    <li class="p-1" (click)="logout()"> <a routerLink=""> تسجيل الخروح </a> </li>
  </ul>
</div>

</div>  
</ng-template>

