<div>
  <app-navbar></app-navbar>

  <div class="mb-5" style="padding-top: 80px;">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
  

<ng-template #loignIcon>
  <div class=" d-flex flex-column mt-3 align-items-start gap-2">
    <div class="bg-transparent d-flex align-items-center justify-content-start p-2">
      <mat-icon>login</mat-icon>
      <a routerLink="login"> دخول </a>
    </div>
    
    <div class="bg-transparent d-flex align-items-center justify-content-start p-2 ">
      <mat-icon>person_add</mat-icon>
      <a routerLink="register"> حساب جديد </a>
    </div>
  </div>
</ng-template>



<ng-template #userIcon>
  <div class=" d-flex flex-column mt-3 align-items-start gap-2">
    
    <a class="position-relative">
      <mat-icon (click)="logout()" >logout </mat-icon>
    </a>
    

</div>  
</ng-template>
