<div class="gray-bg">

  <section class="containerr">

    <div class="p-5">

      <div class="top-form">
        <h3>تسجيل الدخول </h3>
      </div>

      <form [formGroup]="loginForm" action="">
        <div class="mb-3 mt-2 ">
          <label for="email" class="form-label">البريد الالكتروني</label>
          <input formControlName="email" type="email" class="form-control" id="exampleFormControlInput1"
            placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">كلمه المرور</label>
          <input formControlName = "password" type="password" class="form-control" id="exampleFormControlInput1"
            placeholder="password">
        </div>
        <button class="btn btn-primary" (click)="login()" > تسجيل </button>
      </form>
    </div>
    <section>


    </section>
  </section>

</div>