
    <div class=" border p-3 mt-5 responsive rounded m-auto">
      <div class="my-3">
        <h5 class="text-dark text-center" >تسجيل الدخول </h5>
      </div>
      <form class="flex-column align-items-center justify-content-center" [formGroup]="loginForm">
        <div class="mb-3 mt-2 ">
          <label class="text-dark form-label" for="email"  >البريد الالكتروني</label>
          <input formControlName="email" type="email" class="form-control" id="exampleFormControlInput1"
            placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label class="text-dark form-label" for="password"  >كلمه المرور</label>
          <input formControlName = "password" type="password" class="form-control" id="exampleFormControlInput1"
            placeholder="password">
        </div>
        <div class="text-center">
          <button  class="btn btn-primary" (click)="login()" > تسجيل </button>
          <!-- [disabled]="loginForm.valid" -->
        </div>
      </form>
    </div>
