.flex-box{
  display: flex;
}
.flexbox>section{
}
.left-part{
  width: 30%;
}
.right-part{
  width: 70%;
}
.left-part > section{
  color: var(--fontColor);
  text-align: center;
  padding: 10px;
  margin: 20px;
}
.right-part > section{
  color: var(--fontColor);
  text-align: center;
  padding: 10px;
  margin: 20px;

}

.first-section{
  height: 220px;
  background-color: var(--bgAfterHover);
}

.first-section>.img-part{
width: 28%;
height: 50%;
border-radius: 50%;
overflow: hidden;
margin: 10px 35%;}
.img-part>img{
  width: 100%;
  height: 100%;
display: block;
}
.botn{
margin-top: 15px;
padding-top: 7px;
}
.botn{
  display: block;
width: 100%;
height: 100%;
color: inherit;
text-decoration: none;
}

.second-section{
  height: 165px;
  background-color: var(--bgAfterHover);
}
.botns >a {
  display: inline-block;
padding: 5px 10px;
}
.botns >a>span {
  display:block;
padding: 2px;
}

.third-section{
  height: 145px;
  background-color: var(--bgAfterHover);

}
.third-section>a{
  padding: 5px;
}


.right-part>.first-section{
  background-color: var(--bgAfterHover);
display: flex;
justify-content: space-around;
flex-wrap: wrap;
align-items: center;
}
.right-part>.first-section>div{
  width: 50%;
}

.right-part>.second-section{
  background-color: var(--bgAfterHover);
display: flex;
justify-content: space-around;
flex-wrap: wrap;
align-items: center;
}
.first-section>div{
  width: 30%;
}

.right-part>.second-section>div>.span>span{
  display: inline-block;
padding: 10px 10px;
font-size: 14px;
}
