<div class="container" >
<div class="mt-5 mb-5" >
  <app-headline>
    تصميم استراحة خاصة مساحة الارض 4250 متر 
  </app-headline>
</div>
<section class="d-flex gap-5">
  <section class="col-8">

    <div class="container right-shadow pb-2">
      <app-headline>وصف المشروع</app-headline>
      
<hr>
        <p> مطلوب تصميم استراحة خاصة بمساحة ارض 4250 متر

          أطوال الأرض 50*85

          دور واحد فقط

          يشمل مبنى رئيسي مكون من :

          صالة معيشة عائلية لعدد 12 شخص

          صالة طعام عائلية لعدد 12 شخص

          اوفيس صغير ( شاهي وقهوة )

          دورة مياه

          6 غرف نوم ماستر

          غرفة العاب اطفال بحيث تكون جزء خارجي وجزء داخلي ومطلة على صالة المعيشة

          مبنى الخدمات بجانب المبنى الرئيسي مكون من :

          مطبخ </p>
      
      <div>
        <app-headline > مهارات المشروع</app-headline>
        <div class="skill-container  form-control ">
          <div class=" skill-btn"> autoCad </div>
          <div class=" skill-btn"> autoCad </div>
          <div class=" skill-btn"> autoCad </div>
          <div class=" skill-btn"> autoCad </div>
          <div class=" skill-btn"> autoCad </div>
          <div class=" skill-btn"> autoCad </div>

        </div>
      </div>

      <div>
        <hr>
        <app-headline >أضف عرضك الان </app-headline>
        <div class="mb-3">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"
            placeholder=" من فضلك ضع وصف لعرضك لا يقل عن 40 كلمة "></textarea>
        </div>
      </div>
    </div>


    <div class="shadow mt-5 p-3 ">
      <app-headline> العروض المقدمه </app-headline>


      <div class="portflio">

  <span [ngStyle]="{'background-color':true?'green':'gray'}"></span>

        <div class="profile-pic">
          <a routerLink=""> <img src="../../../../assets/man-156584.svg" alt="">

          </a>

        </div>
        <div>
          <p class="name">
            <a routerLink=""> mohamed ashraf </a> <span> تقيم </span>
          </p>

          <div class="flex-box">

            <div class="properties">


              <span> <a routerLink=""> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-bookmark-star" viewBox="0 0 16 16">
                    <path
                      d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z" />
                    <path
                      d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1app-headlineapp-headlinez" />
                  </svg> مصمم ويب</a> </span> <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                </svg> منذ دقيقه </span>
            </div>
          </div>

          <p class="info"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem odit quae veniam tempore
            eaque
            sunt impedit in ducimus aliquam voluptas sit, libero consectetur vero minima cum amet magnam asperiores nam.
          </p>
        </div>
      </div>


      <div class="portflio">

  <span [ngStyle]="{'background-color':true?'green':'gray'}"></span>

        <div class="profile-pic">
          <a routerLink=""> <img src="../../../../assets/man-156584.svg" alt="">

          </a>

        </div>
        <div>
          <p class="name">
            <a routerLink=""> mohamed ashraf </a> <span> تقيم </span>
          </p>

          <div class="flex-box">

            <div class="properties">


              <span> <a routerLink=""> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-bookmark-star" viewBox="0 0 16 16">
                    <path
                      d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z" />
                    <path
                      d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1app-headlineapp-headlinez" />
                  </svg> مصمم ويب</a> </span> <span> منذ دقيقه </span>
            </div>
          </div>

          <p class="info"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem odit quae veniam tempore
            eaque
            sunt impedit in ducimus aliquam voluptas sit, libero consectetur vero minima cum amet magnam asperiores nam.
          </p>
        </div>
      </div>

    </div>



  </section>

  <section class="left-shadow col-4 left-section">
    <app-headline>
      بطاقة المشروع
    </app-headline>
    <hr>
    <div>
      <span>حاله المشروع</span>
      <span>مفتوح</span>
    </div>

    <div>
      <span>تاريخ النشر</span>
      <span> </span>
    </div>

    <div>
      <span>الميزانيه</span>
      <span>{{1000}}</span>
    </div>

    <div>
      <span>مده التنفيذ</span>
      <span></span>


    </div>

    <div>
      <span> متوسط سعر العروض </span>
      <span>l200</span>

    </div>

    <div>
      <span>عدد العروض المقدمه </span>
      <span>5</span>
    </div>
    <div>
      <span>صاحب المشروع</span>
      <span>{{userData.firstname}}</span>
    </div>

  </section>
</section>
</div>
